:root {
    /* --primary-orange: rgba(246, 90, 28, 255); */
    /* --primary-background: #fbf3e3; */
    --primary-orange:#5C5F30;
    --primary-background:#e57f30;
    --highlight-colour: #F0DAC0;
    
    background: var(--highlight-colour) !important;
}

:root[data-theme-mode="dark"] {
    --color-primary: rgb(107, 79, 158);
    --color-heading: rgb(0, 0, 0);
    --color-text: hsl(0deg 0% 97%);
  }

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
  }

/* Neumorphism.io */
.neumorph-primary {
    border-radius: 10px;
    background: var(--primary-background);
    box-shadow: 20px 20px 60px var(--primary-background),
        -20px -20px 60px var(--primary-background);
}

/* CSS for Menu Component */
.menu-container {
    width: 1vw;
    height: 100vh;
    padding-top: 15px;
    background-color: var(--primary-background);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: var(--primary-background);
    box-shadow: 20px 20px 60px var(--primary-background),
        -20px -20px 60px var(--primary-background);

    /* position */
    position:fixed;
    left: 0;
    top:0;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container:hover {
    height:100%;
    width:15vw;
    transition: all 0.5s ease;
}

.menu-logo-active {
    transition: 2s ease;
    height:20%;
    width:auto;
    display: flex !important;
    justify-self: flex-start;
    align-self: center;
    margin: 0 5px 10px 0;
}

.menu-logo {
    display: none !important;
}

.navbar-wrapper-active {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5%;
}

.navbar-wrapper {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    width: 90%;
}
