.scoreboard-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width:15vw;
    min-width:100px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--primary-background);
}