.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-self: center;
    display: flex;
    width:15vw;
    min-width:100px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--primary-background);
    font-size: 10px;
}