.total-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
    padding-left:5%;
    width: 80vw;
    height:100vh;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}